*,
::before,
::after {
  box-sizing: border-box;
}

a {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
pre {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Mobile/Default Styles */


html {
  font-size: 18px;
}

body {
  font-family:
    'PT Sans',
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;

  background-color: #222222;
  background-image: url('./img/black-polygons-1.jpg');
  background-size: cover;
  margin: 0;
  padding: 0.5rem;
}

main {
  max-width: 50rem;
  margin: auto;
  background-color: #fbfbfb;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
}

a {
  color: #f88070;
  text-decoration: none;
}

a:hover {
  color: #f88070;
  text-decoration: none;
  font-weight: bold;
}

a:active {
  color: #f88070;
  text-decoration: none;
}

a:visited {
  color: #f88070;
  text-decoration: none;
}

a i {
  color: #212529
}

a:hover i {
  color: #f88070;
}

section#header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;


  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

section#bio {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

section#contact-info {

  margin-top: 0;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

section#past-projects {

  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

section#project-ideas {

  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

section#footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#logo {
  height: 4rem;
  width: 4rem;
}

#contact-links {
  display: flex;
  justify-content: center;
}

#contact-links > li {
  padding: 0 1rem;
}

#past-projects-header {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

#past-projects-list {
  padding: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#past-projects-list > li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.project-description-container {
  flex-grow: 1;
  flex-shrink: 1;
}

.project-title {
  margin-bottom: 0.2rem;
}

.project-description {
  margin-bottom: 1rem
}

.project-links {
  margin-bottom: 1rem;
}

.project-links > li {
  text-align: center;
  margin-bottom: 0.3rem;
}

.project-thumbnail-container {
  padding: 0;
}

.project-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 3px;
  border: 1px solid #212529;
}

#project-ideas-header {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

#project-ideas-list {
  padding: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#project-ideas-list > li {
  display: flex;
  margin-bottom: 2rem;
}


/* Tablet & Desktop Styles */

@media (min-width: 768px) {

  body {
    padding: 1rem;
  }

  section#header {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  section#bio {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  section#contact-info {
    margin-bottom: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  section#past-projects {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  section#project-ideas {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  #logo {
    height: 5rem;
    width: 5rem;
  }

  #past-projects-header {
    margin-bottom: 2rem;
  }

  #past-projects-list > li {
    display: flex;
    flex-wrap: nowrap;
  }

  .project-links > li {
    text-align: left;
  }

  .project-thumbnail-container {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 0;
  }

  .project-thumbnail {
    width: 15rem;
  }

  #project-ideas-header {
    margin-bottom: 2rem;
  }
}
