*, ::before, ::after {
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
}

body {
  font-family:
    'PT Sans',
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

  line-height: 1rem;
  color: #212529;
  text-align: left;

  background-color: #222222;
  background-image: url('./black-polygons-1.jpg');
  background-size: cover;
}

main {
  max-width: 80rem;
  margin: auto;
  background-color: #ffffff;
  padding: 1rem 2rem;
}
